header{
  background-color: orange;
  .logo{
    height: 80px;
  }
  img{
    height: 30px;
  }
  div{

  }
}
product{
  :hover{
    cursor: pointer;
  }

}
.carousel-item{
  img{
    height: 400px;
    width: 300px;
  }
}
.showFirstLine{
  height: 200px;
}
.add{
  img{
    height: 50px;
  }
}
.modalLitle{
  height: 80px;
  width: 80px;
}