

header, footer{
  padding-top: 20px;
  background-color: orange;
  .logo{
    height: 80px;
  }
  img{
    height: 30px;
  }
  h1{
    font-family: 'Allerta Stencil', sans-serif;

    font-weight: 80px;
    letter-spacing: 20px;
  }
  .cont{
    font-family: Calibrit;
    font-style: italic;
    font-weight: bold;

      font-size: 25px;

  }
  .menu{
    background-color: #FFC273;
    color: black;
    li{margin-right: 20px}
    .menu-btn:hover{

        background-color: black;
        color: orange;
      }
    .menu-btn{
      background-color: orange;
      font-weight: bold;
      color: black;
    }

  }
  div{

  }
}
.admin{
  margin-bottom: 120px;
}
.articles{
  margin-top: 20px;
  div{
    padding: 10px;
    margin: 1px;
    background-color: #FFC273;
  }

}
product{
  :hover{
    cursor: pointer;
  }

}
.carousel-item{
  img{
    height: 400px;
    width: 300px;
  }
}
.showFirstLine{
  height: 200px;
}
.add{
  img{
    height: 50px;
  }
}
.modalLitle{
  height: 80px;
  width: 80px;
}
.admin{
  padding: 40px;
}
.basket{
  table{
    td{
      font-weight: bold;
    }
    .allcost{
      font-size: x-large;
      text-transform: uppercase;
    }


  }
}